
<button (click)="setDifficulty('')"> Any difficulty </button>
<button (click)="setDifficulty('easy')"> Easy </button>
<button (click)="setDifficulty('medium')"> Medium </button>
<button (click)="setDifficulty('hard')"> Hard </button>
<p>Chosen Difficulty: {{difficulty}}</p>
<button (click)="setCategory(9)"> General Knowledge </button>
<button (click)="setCategory(10)"> Entertainment: Books </button>
<button (click)="setCategory(11)"> Entertainment: Film </button>
<button (click)="setCategory(12)"> Entertainment: Music </button>
<button (click)="setCategory(13)"> Entertainment: Musicals & Theatres </button>
<button (click)="setCategory(14)"> Entertainment: Television </button>
<button (click)="setCategory(15)"> Entertainment: Video Games </button>
<button (click)="setCategory(16)"> Entertainment: Board Games </button>
<button (click)="setCategory(17)"> Science & Nature </button>
<button (click)="setCategory(18)"> Science: Computers </button>
<button (click)="setCategory(19)"> Science: Mathematics </button>
<button (click)="setCategory(20)"> Mythology </button>
<button (click)="setCategory(21)"> Sports </button>
<button (click)="setCategory(22)"> Geography </button>
<button (click)="setCategory(23)"> History </button>
<button (click)="setCategory(24)"> Politics </button>
<button (click)="setCategory(25)"> Art </button>
<button (click)="setCategory(26)"> Celebrities </button>
<button (click)="setCategory(27)"> Animals </button>
<button (click)="setCategory(28)"> Vehicles </button>
<button (click)="setCategory(29)"> Entertainment: Comics </button>
<button (click)="setCategory(30)"> Science: Gadgets </button>
<button (click)="setCategory(31)"> Entertainment: Japanese Anime & Manga </button>
<button (click)="setCategory(32)"> Entertainment: Cartoon & Animations </button>

<p>Cat ID: {{category}}</p>
<button (click)="onTestGet()">New Question</button>
<p>Question: {{getQuestion}}</p>

<button (click)="onAnswerclick('1')"> {{Spot1}} </button>
<button (click)="onAnswerclick('2')"> {{Spot2}} </button>
<button (click)="onAnswerclick('3')"> {{Spot3}} </button>
<button (click)="onAnswerclick('4')"> {{Spot4}} </button>
<p>Answer: {{showAnswer}}</p>
<p>Questions Completed: {{questionsCompleted}}</p>
<p>Score: {{Score}}</p>